@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #F5F8FF;
}

.header-section{
    background-image: url(/asset/images/Hero-bg.png);
    height: 550px;
    width: 100%;
}
.nav-container{
    max-width: 1140px;
    margin: 0px auto;
}
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.logo{
   
    color: #4E47FF;
}
.button{
    border-radius: 10px;
    background-color: #4E47FF;
    padding: 10px 25px 10px 25px;
    border: none;
    color: white;
}
.banner{
    text-align: center;
    height: 180px;
    width: 550px;
    margin: 60px auto;

}
.banner h1{
    color: #252432;
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    width: 400;
    padding-top: 10px;
    padding-bottom: 20px;
  
}
.button1{
    border-radius: 10px;
    background-color: #4E47FF;
    padding: 10px 25px 10px 25px;
    border: none;
    color: white;
    margin-top: 20px;

}
.action-section{
    max-width: 1140px;
    margin: 0px auto;
}
.action-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 70px;
}
.action h1{
    color: #252432;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    width: 400;
   
    padding-bottom: 20px;
}
.action p{
  color: gray;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    width: 400;
    
}
.image img{
    border-radius: 30px;
   
    margin-top: 50px;
}
.user-section{
    max-width: 1140px;
    margin: 0px auto;
    background-color: rgb(229, 231, 255); 
    height: 240px;
    border-radius: 20px;
    margin-bottom: 90px;
    
    
}
.users-title h1{
    text-align: center;
    padding-top: 35px;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    width: 400;
}
.users{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 40px;
}
.list{
    font-family: "inter", sans-serif;
    color: #4E47FF;
    font-weight: bold;
    font-size: 65px;
    line-height: auto;

}
.user-list {
    text-align: center;

    color: rgb(112, 112, 112);

    
}

.user-review{
    max-width: 1140px;
    margin: 0px auto;
}
.title h1{
    text-align: center;
    padding-top: 30px;
}
.list1{
   width: 300px;
    height:200px ;
    margin-top: 40px;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.icon{
    padding-bottom: 10px;
    color: #FFB805;
}
