@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #F5F8FF;
}
/* header section */
.header-section{
    background-image: url(/asset/images/Hero-bg.png);
    height: 550px;
    width: 100%;
}
.nav-container{
    max-width: 1140px;
    margin: 0px auto;
}
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.logo{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    width: 400;
    font-weight: bold;
    color: #4E47FF;
}
.button{
    border-radius: 10px;
    background-color: #4E47FF;
    padding: 10px 25px 10px 25px;
    border: none;
    color: white;
}

/* banner part */
.banner{
    text-align: center;
    height: 180px;
    width: 550px;
    margin: 60px auto;

}
.banner h1{
    color: #252432;
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    width: 400;
    padding-top: 10px;
    padding-bottom: 20px;
  
}
.button1{
    border-radius: 10px;
    background-color: #4E47FF;
    padding: 10px 25px 10px 25px;
    border: none;
    color: white;
    margin-top: 20px;

}
/* action section */
.action-section{
    max-width: 1140px;
    margin: 0px auto;
}
.action-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 70px;
}
.action h1{
    color: #252432;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    width: 400;
   
    padding-bottom: 20px;
}
.action p{
  color: gray;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    width: 400;
    
}
.image img{
    border-radius: 30px;
   
    margin-top: 50px;
}

/* productive user section */
.user-section{
    max-width: 1140px;
    margin: 0px auto;
    background-color: rgb(229, 231, 255); 
    height: 240px;
    border-radius: 20px;
    margin-bottom: 90px;
    
    
}
.users-title h1{
    text-align: center;
    padding-top: 35px;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    width: 400;
}
.users{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 40px;
}
.list{
    font-family: "inter", sans-serif;
    color: #4E47FF;
    font-weight: bold;
    font-size: 65px;
    line-height: auto;

}
.user-list {
    text-align: center;

    color: rgb(112, 112, 112);

    
}
 /* reviewer section */
.review-section{
    max-width: 1140px;
    margin: 0px auto;
}
.title h1{
    text-align: center;
    padding-top: 30px;
}

.review-list{
    display: flex;
   justify-content: space-between;
   margin-bottom: 80px;
}
.list1{
   width: 350px;
    height:250px ;
    margin-top: 40px;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-left: 25px;
    border-radius: 10px;
    border: 1px solid #f3f1f1;
}
.icon{
    padding-bottom: 10px;
    color: #FFB805;
    margin-top: 20px;
}
.profile{
    display: flex;
    gap: 20px;
    padding-top: 25px;

}
.profile img{
    border-radius: 50%;
}
.profile-info h3{
  color: rgb(117, 117,117);
}

.profile-info p{
  color: rgb(179, 179,179);
}
.list1-title{
  padding-top: 15px;
}
.list1-title p{
    padding-top: 10px;
    padding-right: 20px;
}

.focus-section{
    max-width: 1140px;
    margin: 0px auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 600px;
}

.title2{
    text-align: center;
    padding-top: 50px;
}
.title2 p{
    padding-top: 10px;
    color: rgb(99, 99, 99);;
}
.button2{
   text-align: center;
   padding-top: 30px;
   padding-bottom: 30px;
}
.title2 img{
    border-radius: 30px;
   height: 320px;
   
}
/* contact section*/
.contact-section{
    max-width: 1140px;
    margin: 0px auto;

    
}
.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;

}
.contact-title{
    width: 350px;
    height: 200px;
   
    margin-top: 40px;
}
.contact-title h1{
    padding-top: 40px;
    font-weight: bold;
    font-size: 60px;
    font-family: "Raleway", sans-serif;
    width: 400;


}
.contact{
  
  margin-top: 40px;
 
}
label{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    width: 400;
}
input{
   padding: 15px;
    border-radius: 10px;
    border: 2px solid  #D6DDED;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    width: 400;
    color:rgb(100, 100, 100) ;

}
.message{
    height: 100px;
   
}
.button3{
   
    border-radius: 10px;
    background-color: #4E47FF;
    padding: 15px 25px 15px 25px;
    border: none;
    color: white;
   


}
.button3:hover{
    background-color: #ec9e38;
}
.contact-button button{
    width: 100%;
}

/*footer section */
 .footer-section{
    height: 350px;
    background-color: #FFFFFF;
 }

 .footer-title{
    text-align: center;
    padding-top: 80px;
   
    height: 180px;
    width: 450px;
    margin: 60px auto;
 }
 .footer-title h1{
     font-size: 85px;
    font-family: "Inter", sans-serif;
    width: 400;
    font-weight: bold;
    color: #4E47FF;
 }
 .footer-title p{
    color: #8987A1;
   
 }

 ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
 }
 li a{
    text-decoration: none;
    color: #8987A1;
 }
